html,body
{
    font-family: Roboto;
    background-color: #fff!important;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.openSans {
    font-family: 'Open Sans';
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    /*background-color:grey;*/
    /*background-image: url('https://to-moore.com/images/beeline.png');*/
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}
@media print {
    html, body {
        display: none;  /* hide whole page */
    }
}
.font-size-8 {
    font-size: 8px!important;
}
.font-size-10 {
    font-size: 10px!important;
}
.font-size-12 {
    font-size: 12px!important;
}
.font-size-14 {
    font-size: 14px!important;
}
.font-size-16 {
    font-size: 16px!important;
}
.font-size-18 {
    font-size: 18px!important;
}
.font-size-20 {
    font-size: 20px!important;
}
.font-size-22 {
    font-size: 22px!important;
}
.font-size-24 {
    font-size: 24px!important;
}
.font-size-26 {
    font-size: 26px!important;
}
.font-size-28 {
    font-size: 28px!important;
}
.line-height-100 {
    line-height: 100%;
}
.line-height-110 {
    line-height: 110%;
}
.line-height-120 {
    line-height: 120%;
}
.line-height-130 {
    line-height: 130%;
}
.line-height-140 {
    line-height: 140%;
}
.line-height-150 {
    line-height: 150%;
}
.line-height-160 {
    line-height: 160%;
}
.line-height-170 {
    line-height: 170%;
}
.line-height-180 {
    line-height: 180%;
}
.color-list {
     left:0%;
     top:100%;
     height: 250px;
     overflow-y: auto;
     width:200px;
     display: none;
     background-color: white;
     z-index:999;
 }
.color-list {
    left:0%;
    top:100%;
    height: 150px;
    overflow-y: auto;
    width:200px;
    display: none;
    background-color: white;
    z-index:999;
}
.price-list {
    left:0%;
    top:100%;
    height: 80px;
    overflow-y: auto;
    width:250px;
    display: none;
    background-color: white;
    z-index:999;
}
.search-content
{
    right:0%;
    top: 100%;
    z-index: 999;
    width:400px;
    max-height:300px;
    overflow-y: auto;
}
@media screen and (max-width:768px)
{
    .color-list, .price-list, .color-list {
        left: auto;
        right: 0% !important;
    }
    .search-content {

        width:350px;
    }
}
#mobile-catalog {
    background-color: white;
    transition: 0.5s;
    z-index:999999;
    height:100vh;
    width:250px;
    position: fixed;
    right:-300px;
    top:0%;
    overflow-y: auto;
}
.mobile-backdrop {
    width:100%;
    height:100%;
    position: fixed;
    background: rgba(128, 128, 128, 0.36);
    display:none;
    z-index:999;
}
.social {
    padding:15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.social i {
    width: 18px;
    height:18px;
    color:#000000;
    transition: 0.5s;
}
.social:hover i {
    color: #8FAF9E;
}
.menuse, .menu-point{
    transition: 0.5s;
}
.news-block:hover img {
    filter: grayscale(60%);
    transform: scale(1.05);
}
.jzl-title {
    transition: 0.5s;
    color: #DA9966;
}
.jzl-block:hover .jzl-title {
    color: #c3c3c3;
}
.solid-nav {
    background-color: white;
}
.owl-main .owl-dots {

}
.owl-one .owl-nav.disabled
{
    display: block!important;
}
.owl-one .owl-nav .owl-prev
{
    position: absolute;
    left:0%;
    top:45%;
    background-image: url('../images/prev.svg') !important;
    background-position: center;
    background-size: cover;
    width:35px;
    height:44px;
    outline: none;
}

.owl-one .owl-nav .owl-next
{
    position: absolute;
    right:0%;
    top:45%;
    /*background-color: #B5C2BB!important;*/
    background-image: url('../images/next.svg') !important;
    background-position: center;
    background-size: cover;
    width:35px;
    height:44px;
    outline: none;
}

.owl-second .owl-nav.disabled
{
    display: block!important;
}
.owl-second .owl-nav .owl-prev
{
    position: absolute;
    right:10%;
    top:-10%;
    background-color: transparent!important;
    background-image: url('../images/icons/secondslideleft.jpg') !important;
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    width:27px;
    height:13px;
    outline: none;
}

.owl-second .owl-nav .owl-next
{
    position: absolute;
    right:7%;
    top:-10%;
    background-color: transparent!important;
    background-image: url('../images/icons/secondslideright.jpg') !important;
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    width:27px;
    height:13px;
    outline: none;
}


.owl-comment .owl-nav.disabled
{
    display: block!important;
}
.owl-comment .owl-nav .owl-prev
{
    position: absolute;
    left:5%;
    top:20%;
    background-color: #F5F4F9!important;
    width:50px;
    height:50px;
    border-radius: 50%;
    outline: none;
    transition: 0.3s;
}
.owl-comment .owl-nav .owl-prev:before
{
    content: '<';
    color: black;
    position: absolute;
    top:-15%;
    left:30%;
    font-size: 40px;
    font-weight: lighter;
}

.owl-comment .owl-nav .owl-next
{
    position: absolute;
    right:5%;
    top:20%;
    background-color: #F5F4F9!important;
    width:50px;
    height:50px;
    border-radius: 50%;
    outline: none;
    transition: 0.3s;
}
.owl-comment .owl-nav .owl-next:before
{
    content: '>';
    color: black;
    position: absolute;
    top:-15%;
    left:30%;
    font-size: 40px;
    font-weight: lighter;
}
.owl-comment .owl-nav .owl-prev:hover, .owl-comment .owl-nav .owl-next:hover
{
    background-color: #DA9966!important;
}
.switcher {
    margin-bottom: 5px;
    transition: 0.5s;
    text-decoration: none!important;
}
.switcher.active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom:10px;
}
.descer p {
    line-height: 110%!important;
}
.order-settings {
    width: 80px;
}
.main-block {
    margin-top: 120px;
}

.wish-list:hover .wish-list-content {
    display: flex!important;
}
#settings
{
    transition:0.5s;
}
.main-category
{
    transition: 0.3s;
    cursor: pointer;
    color: #000000;

}
.main-category.active
{
    text-decoration: underline;
}
.main-category:hover
{
    color: white;
    background-color: rgba(218, 153, 102, 0.76);
    border-radius: 15px;
}
.jzl-btn
{
    background: rgba(188, 188, 188, 0.6);
    border-radius: 24px;
}
.jzl-btn.active
{
    background: #DA9966;
}
.inactive
{
    opacity: 0.5;
    pointer-events: none;
}
.prod-desc p
{
    margin-bottom: 5px;
}
@media screen and (max-width: 768px)
{
    .inactive{
        display:none!important;
    }
    .order-settings {
        width:40px;
    }
    .main-block {
        margin-top:120px;
    }
    .owl-second .owl-nav.disabled, .owl-comment .owl-nav.disabled
    {
        display:none!important;
    }
}